<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Коллекция {{ collection_name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Коллекция {{ collection_name }}</h1>
        <div class="row">
            {% for photo in photos %}
                <div class="col-md-3">
                    <img src="" alt="{{ os.path.basename(photo) }}" class="img-thumbnail">
                </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Index</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>