<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание электричек</title>
    <link rel="icon" href="https://zavorateam.github.io/index_files/faviconlogo.svg">
    <link rel="stylesheet" href="../electrichki_files/css/style.css">
</head>
<body>
    <div class="display-stand">
        <div class="container">
            <div class="platform-track">
                <div>
                    <span class="track-label">Прибытия и отправления<br><span style='font-size:0.6em;font-style:italic;'>Appartures and departures</span></span>
                </div>
                <div>
                    <span class="local-time" id="currentTime"></span>
                </div>
            </div>
            <div class="board">
                <div class="table-container">
                    <table class="schedule-table">
                        <thead>
                            <tr>
                                <th>Номер поезда<br><span class="en">Train number</span></th>
                                <th>Назначение<br><span class="en">Destination</span></th>
                                <th>Отправление<br><span class="en">Departs</span></th>
                                <th>Путь<br><span class="en">Track</span></th>
                                <th>Опоздание (мин)<br><span class="en">Delay (min)</span></th>
                            </tr>
                        </thead>
                        <tbody id="scheduleBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="stand-legs">
            <div class="leg"></div>
            <div class="leg"></div>
        </div>
    </div>
    <script src="../electrichki_files/js/main.js"></script>
</body>
</html>
</html>