<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Zavorateam Website</title>
  <!-- Lumo framework -->
  <script>
    (function() {
        const url = new URL(window.location.href);
        const path = url.pathname;

        // Если открываем напрямую файл .ztmf
        if (path.endsWith(".ztmf")) {
            const file = path.split("/").pop();

            // Делаем редирект на index.html c параметром file=
            window.location.replace(`/index.html?file=${encodeURIComponent(file)}`);
        }
    })();
  </script>
  <script src="https://zavorateam.github.io/lumo-framework/lumo.js" type="module" defer></script>
  <script src="../assets/countries.js" defer></script>
  <script src="../assets/favgen.js" defer></script>
  <script src="../assets/checker.js" defer></script>
  <!-- fallback common styles -->
  <link rel="stylesheet" href="../assets/common_styles.css">
</head>
<body>
  <main id="app" role="main"></main>
  <div id="lumo-status" style="position:fixed;right:12px;bottom:12px;padding:8px 12px;background:rgba(0,0,0,0.6);color:#fff;border-radius:8px;font-size:13px;display:none;z-index:9999"></div>
  <script>window.LUMO_START = './index.ztmf';</script>
</body>
</html>
